 
 



@model IEnumerable<SysMsgCategory>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Sys msg category List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="sysMsgCategoryService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Sys msg category list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.MsgCategoryId)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.MsgCategoryName)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.MsgCategoryId)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.MsgCategoryName)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.MsgCategoryId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.MsgCategoryId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.MsgCategoryId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

