 
 



@model IEnumerable<EmployeeType>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Employee type List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="employeeTypeService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Employee type list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.EmployeeTypeCode)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.EmployeeTypeName)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.EmployeeTypeDescription)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.EmployeeTypeCode)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.EmployeeTypeName)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.EmployeeTypeDescription)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { employeeTypeCode = item.EmployeeTypeCode })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { employeeTypeCode = item.EmployeeTypeCode })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { employeeTypeCode = item.EmployeeTypeCode })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

