 
@model Focus 
@{
    ViewBagWrapper.InfoBag.SetTitle("Focus Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);	
}
            @Html.HiddenFor(model => model.FocusId)
<div class="form-group">
    <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.FocusId)</span>
        <div class="col-lg-8">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.FocusId)
                        </p>
       </div>
</div>
<div class="form-group">
    <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.FocusName)</span>
        <div class="col-lg-8">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.FocusName)
                        </p>
       </div>
</div>
<div class="form-group">
    <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.OrderList)</span>
        <div class="col-lg-8">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OrderList)
                        </p>
       </div>
</div>
  


    



