 
 



@model IEnumerable<Grade>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Grade List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="gradeService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Grade list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.GradeCode)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.GradeTitle)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Award)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.AwardMaxRates)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.TeachingBased)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.GradeType)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.StatusValue)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.GradeCode)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.GradeTitle)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Award)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.AwardMaxRates)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.TeachingBased)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.GradeType)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.StatusValue.StatusName.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { gradeCode = item.GradeCode })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { gradeCode = item.GradeCode })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { gradeCode = item.GradeCode })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

