@model CapabilityName
@{
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData); 
    var formMethod = ViewBagWrapper.FormOperations.GetFormMethod(ViewData);
    
    var formType = ViewBagWrapper.FormOperations.GetFormType(ViewData);
    var requestType = ViewBagWrapper.FormOperations.GetRequestType(ViewData);
        var capabilityGroupItems = ViewBagWrapper.ListBag.GetList("capabilityGroupItems",ViewData);
    
}

@Html.AntiForgeryToken()
@Html.HiddenFor(model=>model.CapabilityNameId)

@*<div class="form-group @GetFormGroupClass("CapabilityNameId")">
    <label for="CapabilityNameId" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.CapabilityNameId) <span class="mandatory">*</span></label>
    
<div class="col-lg-10">
    <div class="input-group">
                  
                <input type="number" name="CapabilityNameId" id="CapabilityNameId" class="form-control" placeholder="e.g. CapabilityNameId" value="@Model.CapabilityNameId"  @ReadOnly("CapabilityNameId")  required data-fv-notempty-message='The Capability name id is required'    data-fv-integer-message='The Capability name id is not an integer'/>
                  
                        </div>
    </div>
</div>       *@                
<div class="form-group @GetFormGroupClass("Name")">
    <label for="Name" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.Name) <span class="mandatory">*</span></label>
    
<div class="col-lg-10">
    <div class="input-group">
                  
                <input type="text" name="Name" id="Name" class="form-control" placeholder="Please enter a name" value="@Model.Name"  @ReadOnly("Name")  required data-fv-notempty-message='The Name is required'    />
                  
                        </div>
    </div>
</div>                       
<div class="form-group @GetFormGroupClass("CapabilityDescription")">
    <label for="CapabilityDescription" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.CapabilityDescription) </label>
    
<div class="col-lg-10">
    <div class="input-group">
                  
                <input type="text" name="CapabilityDescription" id="CapabilityDescription" class="form-control" placeholder="Please enter Capability Description" value="@Model.CapabilityDescription"  @ReadOnly("CapabilityDescription")      />
                  
                        </div>
    </div>
</div>                       
<div class="form-group @GetFormGroupClass("CapabilityGroupId")">
        <label for="CapabilityGroupId" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.CapabilityGroup) <span class="mandatory">*</span></label>

<div class="col-lg-10">
        @Html.DropDownList("CapabilityGroupId", capabilityGroupItems , "Select Capability group ...", new {id="CapabilityGroupId", @class = "form-control select2picker", Required="Required" })      
    </div>
</div>                       
                 


@functions
{
    bool IsKey(string propertyName) 
    {
        var entityType = ViewBagWrapper.EntityInfo.GetEntityType(ViewData);
        return T4Helper.GetKeys(entityType).Any(p => p.Name == propertyName);
    }

    string ReadOnly(string propertyName) 
    {
        var formType = ViewBagWrapper.FormOperations.GetFormType(ViewData);
        if (formType == FormType.Edit && IsKey(propertyName)) return "readonly";

        var entityType = ViewBagWrapper.EntityInfo.GetEntityType(ViewData);
        
        var prop = T4Helper.GetProperty(propertyName, entityType);
        var computedAttribute = T4Helper.MetadataOperations.GetMetadataPropertyCustomAttribute<ComputedPropertyAttribute>(prop, entityType);
        if (computedAttribute == null) return string.Empty;

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedDate) return "readonly";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedUser) return "readonly";

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreationDate) return "readonly";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreatedUser) return "readonly";
        
        return string.Empty;
    }

    string GetFormGroupClass(string propertyName) 
    {
        var entityType = ViewBagWrapper.EntityInfo.GetEntityType(ViewData);
        var formType = ViewBagWrapper.FormOperations.GetFormType(ViewData);
        var prop = T4Helper.GetProperty(propertyName, entityType);
        var computedAttribute = T4Helper.MetadataOperations.GetMetadataPropertyCustomAttribute<ComputedPropertyAttribute>(prop, entityType);
        if (computedAttribute == null) return string.Empty;

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedDate) return "hidden";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedUser) return "hidden";

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreationDate) return "hidden";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreatedUser) return "hidden";

        switch (formType)
        {
            case FormType.Create:
            {
                if (computedAttribute.ComputedPropertyType == ComputedPropertyType.Status) return "hidden";
                if (computedAttribute.ComputedPropertyType == ComputedPropertyType.AutoIncrement) return "hidden";
                if (computedAttribute.ComputedPropertyType == ComputedPropertyType.Computed) return "hidden";
                break;
            }
        }
        return string.Empty;        
    }    
}
