 



@model IEnumerable<RolePositionDescriptionHistory>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Role position description history List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-sm dt-responsive @*ajaxDataTable*@" @*data-service="rolePositionDescriptionHistoryService" data-url="@HttpHelper.GetActionUrl("ListJson","RolePositionDescriptionHistory")"*@>
                @*<caption>Role position description history list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.RolePositionDescriptionHistoryId)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.RolePositionDescription)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Action)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.StatusFrom)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.StatusTo)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.AdditionalInfo)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.RolePositionDescriptionHistoryId)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.RolePositionDescription.Title.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Action)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.StatusFrom)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.StatusTo)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.AdditionalInfo)
                            </td>                       
                            <td>
   
                                @item.CreatedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.RolePositionDescriptionHistoryId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.RolePositionDescriptionHistoryId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.RolePositionDescriptionHistoryId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

