 



@model IEnumerable<CapabilityName>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Capability name List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="capabilityNameService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Capability name list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.CapabilityNameId)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CapabilityDescription)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.CapabilityGroup)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastUpdated)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CapabilityNameId)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CapabilityDescription)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.CapabilityGroup.GroupName.StripHtml().Minimise(50))
                            <td>
   
                                @item.DateCreated.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @item.LastUpdated.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.LastModifiedBy)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.CapabilityNameId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.CapabilityNameId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.CapabilityNameId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

