

@model OccupationType
@{
    ViewBagWrapper.InfoBag.SetTitle("Occupation type Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


 
@Html.HiddenFor(model => model.OccupationTypeCode)

<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OccupationTypeCode)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OccupationTypeCode)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OccupationTypeName)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OccupationTypeName)</p>
    </div>
            </div>
    
    


