 
 



@model IEnumerable<Position>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Position List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="positionService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Position list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.PositionId)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.PositionNumber)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.RolePositionDescription)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Unit)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.PositionTitle)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.PositionLevel)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.StatusValue)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.PositionPath)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.DivisionOverview)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.PositionId)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.Position.PositionTitle.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.PositionNumber)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.RolePositionDescription.Title.StripHtml().Minimise(50))
                            <td>
    
                                @Html.Raw(item.Unit.UnitName.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.PositionTitle)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.PositionLevel.PositionLevelName.StripHtml().Minimise(50))
                            <td>
    
                                @Html.Raw(item.StatusValue.StatusName.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.PositionPath)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.Location.Name.StripHtml().Minimise(50))
                            <td>
   
                                @item.CreatedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @item.LastModifiedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.LastModifiedBy)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.DivisionOverview)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.PositionId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.PositionId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.PositionId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

