

@model PositionInformation
@{
    ViewBagWrapper.InfoBag.SetTitle("Position information Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}






@Html.HiddenFor(model => model.PositionId)

<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.Position)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.Position.PositionTitle)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OlderPositionNumber3)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OlderPositionNumber3)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OlderPositionNumber1)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OlderPositionNumber1)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OlderPositionNumber2)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OlderPositionNumber2)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.SchNumber)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.SchNumber)</p>
    </div>
            </div>
    
    


<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.PositionType)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.PositionType.PositionTypeName)</p>
    </div>
            </div>
    
    


<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.EmployeeType)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.EmployeeType.EmployeeTypeName)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.PositionNoteId)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.PositionNoteId)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.TrimLink)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.TrimLink)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.PositionEndDate)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.PositionEndDate)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.PositionFTE)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.PositionFTE)</p>
    </div>
            </div>
    
    


