 
 



@model IEnumerable<AppObjectInfo>
@{    
    ViewBagWrapper.InfoBag.SetTitle("App object info List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="appObjectInfoService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>App object info list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.ObjectName)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CounterValue)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.AggregatedValueA)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.AggregatedValueB)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Metadata)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.lastModifiedUser)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.ObjectName)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CounterValue)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.AggregatedValueA)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.AggregatedValueB)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Metadata)
                            </td>                       
                            <td>
   
                                @item.LastModifiedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.lastModifiedUser)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { objectName = item.ObjectName })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { objectName = item.ObjectName })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { objectName = item.ObjectName })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

