@model Doe.Ls.ProjectTemplate.Web.ViewModels.OrgLevel.OrgLevelDetailsViewModel
@{
    
}


 
@Html.HiddenFor(model => model.OrgLevel.OrgLevelId)

<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OrgLevel.OrgLevelId)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevel.OrgLevelId)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OrgLevel.OrgLevelTitle)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevel.OrgLevelTitle)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OrgLevel.OrgLevelName)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevel.OrgLevelName)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.OrgLevel.Description)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevel.Description)</p>
    </div>
            </div>
    
    


