@model IEnumerable<OrgLevel>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Org level list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-sm dt-responsive @*ajaxDataTable*@" @*data-service="orgLevelService" data-url="@HttpHelper.GetActionUrl("ListJson","OrgLevel")"*@>
                @*<caption>Org level list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.OrgLevelId)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.OrgLevelTitle)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.OrgLevelName)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.OrgLevelId)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.OrgLevelTitle)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.OrgLevelName)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>                       
                     
                           <td>
                               <div class="btn-group-vertical">
                                   @{ var itemPriv = task.GetOrgLevelPrivilege(item.OrgLevelId);  }
                                   @if(itemPriv.CanEdit)
                                       {
                                       <a href="@Url.Action("Edit", new {id = item.OrgLevelId})" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                       }
                                   <a href="@Url.Action("Details", new { id = item.OrgLevelId })" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                   @if(itemPriv.CanDelete)
                                       {
                                       <a href="@Url.Action("Delete", new {id = item.OrgLevelId})" class="btn btn-primary pop-up" data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                       }
                               </div>
                           </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

