@model ScriptHistory 
@{
    ViewBagWrapper.InfoBag.SetTitle("Script history Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);	
}
 
@Html.HiddenFor(model => model.ScriptNumber)
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.ScriptNumber)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.ScriptNumber)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.ScriptName)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.ScriptName)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.RunDate)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.RunDate)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.RunBy)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.RunBy)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.Comments)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.Comments)</p></div>
        </div>
