 



@model IEnumerable<TrimRecord>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Trim record List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="trimRecordService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Trim record list</caption>*@
                <thead>
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.RolePositionDescription)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Uri)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Token)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastPublishedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastRevisionNumber)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
    
                                @Html.Raw(item.RolePositionDescription.Title.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Uri)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Token)
                            </td>                       
                            <td>
   
                                @item.LastPublishedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.LastRevisionNumber)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.RolePositionDescId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.RolePositionDescId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.RolePositionDescId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

