 
@model IEnumerable<KeyRelationship>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Key relationship list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-sm dt-responsive @*ajaxDataTable*@" @*data-service="keyRelationshipService" data-url="@HttpHelper.GetActionUrl("ListJson","KeyRelationship")"*@>
                @*<caption>Key relationship list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.KeyRelationshipId)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.RoleDescription)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.RelationshipScope)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.OrderNumber)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Who)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.Why)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.ModifiedUserName)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastUpdated)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.KeyRelationshipId)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.RoleDescription.OldPDFileName.StripHtml().Minimise(50))
                            <td>
    
                                @Html.Raw(item.RelationshipScope.ScopeTitle.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.OrderNumber)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Who)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Why)
                            </td>                       
                            <td>
   
                                @item.DateCreated.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.ModifiedUserName)
                            </td>                       
                            <td>
   
                                @item.LastUpdated.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.KeyRelationshipId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.KeyRelationshipId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.KeyRelationshipId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

