 



@model IEnumerable<RelationshipScope>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Relationship scope list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-sm dt-responsive @*ajaxDataTable*@" @*data-service="relationshipScopeService" data-url="@HttpHelper.GetActionUrl("ListJson","RelationshipScope")"*@>
                @*<caption>Relationship scope list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.ScopeId)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.ScopeTitle)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.ScopeId)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.ScopeTitle)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { id = item.ScopeId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { id = item.ScopeId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { id = item.ScopeId })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

