@model EmployeeType
@{
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData); 
    var formMethod = ViewBagWrapper.FormOperations.GetFormMethod(ViewData);
    
    var formType = ViewBagWrapper.FormOperations.GetFormType(ViewData);
    var requestType = ViewBagWrapper.FormOperations.GetRequestType(ViewData);
        
}

@Html.AntiForgeryToken()

<div class="form-group @GetFormGroupClass("EmployeeTypeCode")">
    <label for="EmployeeTypeCode" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.EmployeeTypeCode) <span class="mandatory">*</span></label>
    
<div class="col-lg-10">
    <div class="input-group">
                  
                <input type="text" name="EmployeeTypeCode" id="EmployeeTypeCode" class="form-control" placeholder="e.g. EmployeeTypeCode" value="@Model.EmployeeTypeCode"  @ReadOnly("EmployeeTypeCode")  required data-fv-notempty-message='The Employee type code is required'    />
                  
                        </div>
    </div>
</div>                       
<div class="form-group @GetFormGroupClass("EmployeeTypeName")">
    <label for="EmployeeTypeName" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.EmployeeTypeName) <span class="mandatory">*</span></label>
    
<div class="col-lg-10">
    <div class="input-group">
                  
                <input type="text" name="EmployeeTypeName" id="EmployeeTypeName" class="form-control" placeholder="e.g. EmployeeTypeName" value="@Model.EmployeeTypeName"  @ReadOnly("EmployeeTypeName")  required data-fv-notempty-message='The Employee type name is required'    />
                  
                        </div>
    </div>
</div>                       
<div class="form-group @GetFormGroupClass("EmployeeTypeDescription")">
    <label for="EmployeeTypeDescription" class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.EmployeeTypeDescription) </label>
    
<div class="col-lg-10">
    <div class="input-group">
                  
                <textarea name="EmployeeTypeDescription" id="EmployeeTypeDescription" class="form-control " placeholder="e.g. EmployeeTypeDescription"
                        >@Model.EmployeeTypeDescription  </textarea>
                  
                        </div>
    </div>
</div>                       


@functions
{
    bool IsKey(string propertyName) 
    {
        var entityType = ViewBagWrapper.EntityInfo.GetEntityType(ViewData);
        return T4Helper.GetKeys(entityType).Any(p => p.Name == propertyName);
    }

    string ReadOnly(string propertyName) 
    {
        var formType = ViewBagWrapper.FormOperations.GetFormType(ViewData);
        if (formType == FormType.Edit && IsKey(propertyName)) return "readonly";

        var entityType = ViewBagWrapper.EntityInfo.GetEntityType(ViewData);
        
        var prop = T4Helper.GetProperty(propertyName, entityType);
        var computedAttribute = T4Helper.MetadataOperations.GetMetadataPropertyCustomAttribute<ComputedPropertyAttribute>(prop, entityType);
        if (computedAttribute == null) return string.Empty;

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedDate) return "readonly";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedUser) return "readonly";

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreationDate) return "readonly";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreatedUser) return "readonly";
        
        return string.Empty;
    }

    string GetFormGroupClass(string propertyName) 
    {
        var entityType = ViewBagWrapper.EntityInfo.GetEntityType(ViewData);
        var formType = ViewBagWrapper.FormOperations.GetFormType(ViewData);
        var prop = T4Helper.GetProperty(propertyName, entityType);
        var computedAttribute = T4Helper.MetadataOperations.GetMetadataPropertyCustomAttribute<ComputedPropertyAttribute>(prop, entityType);
        if (computedAttribute == null) return string.Empty;

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedDate) return "hidden";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.LastModifiedUser) return "hidden";

        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreationDate) return "hidden";
        if (computedAttribute.ComputedPropertyType == ComputedPropertyType.CreatedUser) return "hidden";

        switch (formType)
        {
            case FormType.Create:
            {
                if (computedAttribute.ComputedPropertyType == ComputedPropertyType.Status) return "hidden";
                if (computedAttribute.ComputedPropertyType == ComputedPropertyType.AutoIncrement) return "hidden";
                if (computedAttribute.ComputedPropertyType == ComputedPropertyType.Computed) return "hidden";
                break;
            }
        }
        return string.Empty;        
    }    
}
