

@model RoleCapability
@{
    ViewBagWrapper.InfoBag.SetTitle("Role capability Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


 
@Html.HiddenFor(model => model.RoleDescriptionId)

<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.RoleDescription)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.RoleDescription.OldPDFileName)</p>
    </div>
            </div>
    
    

 
@Html.HiddenFor(model => model.CapabilityNameId)

<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.CapabilityName)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.CapabilityName.Name)</p>
    </div>
            </div>
    
    

 
@Html.HiddenFor(model => model.CapabilityLevelId)

<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.CapabilityLevel)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.CapabilityLevel.LevelName)</p>
    </div>
            </div>
    
    

 
@Html.HiddenFor(model => model.Highlighted)

<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.Highlighted)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.Highlighted)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.DateCreated)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.DateCreated)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.LastUpdated)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.LastUpdated)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.CreatedBy)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.CreatedBy)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.LastModifiedBy)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.LastModifiedBy)</p>
    </div>
            </div>
    
    


