@model OrgLevel 
@{
    ViewBagWrapper.InfoBag.SetTitle("Org level Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);	
}
 
@Html.HiddenFor(model => model.OrgLevelId)
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.OrgLevelId)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevelId)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.OrgLevelTitle)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevelTitle)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.OrgLevelName)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.OrgLevelName)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.Description)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.Description)</p></div>
        </div>
