

@model Grade
@{
    ViewBagWrapper.InfoBag.SetTitle("Grade Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


 
@Html.HiddenFor(model => model.GradeCode)

<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.GradeCode)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.GradeCode)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.GradeTitle)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.GradeTitle)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.Award)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.Award)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.AwardMaxRates)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.AwardMaxRates)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.TeachingBased)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.TeachingBased)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.GradeType)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.GradeType)</p>
    </div>
            </div>
    
    


<div class="form-group">
    
    <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.StatusValue)
    </label>
    
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.StatusValue.StatusName)</p>
    </div>
            </div>
    
    


<div class="form-group">
        <label class="col-lg-2 col-form-label">
        @Html.DisplayNameFor(model => model.Message)
    </label>
        
        <div class="col-lg-10">
        <p class="form-control-plaintext">@Html.DisplayFor(model => model.Message)</p>
    </div>
            </div>
    
    


