 



@model IEnumerable<SysMessage>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Sys message List",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
}


        <div class="table-responsive">
            <table class="table table-striped table-condensed dt-responsive @*ajaxDataTable*@" @*data-service="sysMessageService" data-url="@Url.Action("ListJson")"*@>
                @*<caption>Sys message list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.MessageFormat)
                        </th>
                                 
                        
                        <th>
                            @Html.DisplayNameFor(model => model.SysMsgCategory)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.MessageHint)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @* For ajax dataTable empty the tbody *@
                    @foreach (var item in Model) 
                    {
                       <tr>
                            <td>
   
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.MessageFormat)
                            </td>                       
                            <td>
    
                                @Html.Raw(item.SysMsgCategory.MsgCategoryName.StripHtml().Minimise(50))
                            <td>
   
                                @Html.DisplayFor(modelItem => item.MessageHint)
                            </td>                       
                            <td>
   
                                @item.CreatedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @item.LastModifiedDate.ToEasyDateTimeFormat()
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>                       
                            <td>
   
                                @Html.DisplayFor(modelItem => item.LastModifiedBy)
                            </td>                       
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", new { code = item.Code })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Edit</a>
                                    <a href="@Url.Action("Details", new { code = item.Code })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Details</a>
                                    <a href="@Url.Action("Delete", new { code = item.Code })" class="btn btn-primary pop-up"  data-toggle="modal" data-target="#vlePluginModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

