@model CapabilityLevel 
@{
    ViewBagWrapper.InfoBag.SetTitle("Capability level Details",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);	
}
 
@Html.HiddenFor(model => model.CapabilityLevelId)
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.CapabilityLevelId)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.CapabilityLevelId)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.LevelName)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.LevelName)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.DisplayOrder)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.DisplayOrder)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.LevelOrder)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.LevelOrder)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.DateCreated)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.DateCreated)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.LastUpdated)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.LastUpdated)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.CreatedBy)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.CreatedBy)</p></div>
        </div>
<div class="form-group">
        <span class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.LastModifiedBy)</span>
       
        <div class="col-lg-8"><p class="form-control-plaintext">@Html.DisplayFor(model => model.LastModifiedBy)</p></div>
        </div>
