@model IEnumerable<BusinessUnit>
@{    
    ViewBagWrapper.InfoBag.SetTitle("Business unit list",ViewData);
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
    
}

        <div class="table-responsive">
            <table class="table table-striped table-sm dt-responsive ajaxDataTable" data-service="businessUnitService" data-url="@HttpHelper.GetActionUrl("ListJson","BusinessUnit")">
                @*<caption>Business unit list</caption>*@
                <thead>
                    <tr>
                     <th>
                            @Html.DisplayNameFor(model => model.BUnitId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BUnitName)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Directorate.Executive)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Directorate)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.StatusValue)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedDate)
                        </th>
                                 
                     <th>
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </th>
                                 
                        <th class="all"></th>
                    </tr>
                </thead>                
            </table>
        </div>

