@using Doe.Ls.ProjectTemplate.Core.BL.Workflow
@model WorkflowAction
@{
    var user = ViewBagWrapper.UserInfoExtensionBag.GetCurrentUser(ViewData);
    var task = ViewBagWrapper.TaskBag.GetCurrentTask(ViewData);
    var workflowEngine = ViewBagWrapper.WorkflowBag.GetWorkflowEngine(ViewData);
    var errors = ViewBagWrapper.ErrorBag.GetErrors(ViewData);
    var nextStatusShowing = workflowEngine.WorkflowObject.WorkflowObjectStatus.GetEnum() == Enums.StatusValue.Endorsed && Model.ActionId==(int)Enums.WorkflowActions.Reject;
    var objectName =workflowEngine.WorkflowObject.WorkflowObjectType.ToString().Wordify();
    var controllerName = workflowEngine.WorkflowObject.WorkflowObjectType.ToString();
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" id="tempModalLabel">@("Confirm action '" + Model.ActionName + "'")</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&#215;</span>
    </button>
</div>


<div class="error-popup">
    <ul class="list-group">
        @foreach(var error in errors)
            {
            <li class="list-group-item ">
                <label class="validation-error">@string.Format("{0} has error:", error.PropertyName.Wordify())</label>
                <label class="validation-error">@string.Format("{0}", error.ErrorMessage)</label>
            </li>
            }
    </ul>
</div>

<div class="success-popup">
    <ul class="list-group">
        <li class="list-group-item ">
            <label class="text-success" id="lbl-success"></label>
        </li>
    </ul>
</div>

<div id="formTab">
    <form class="" role="form" action="@Url.Action("ApplyWorkflowAction", controllerName)" method="POST" id="form-positionDescription-confirm" data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">

        @Html.Hidden("wfObjectId", workflowEngine.WorkflowObject.WorkflowObjectId)
        @Html.Hidden("actionId", Model.ActionId)
        @Html.Hidden("objectType", WorkflowObjectType.Position)
        @Html.AntiForgeryToken()

        <div class="modal-body">
            <div class="form-group">
                <label class="col-lg-3 col-form-label">@objectName</label>

                <div class="col-lg-8">
                    <p class="form-control-plaintext ">@workflowEngine.WorkflowObject.TitleGrade()</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-form-label">@objectName Information</label>

                <div class="col-lg-9">
                    <p class="form-control-plaintext ">
                       
                        @workflowEngine.WorkflowObject.Info()
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="Comment" class="col-form-label col-lg-3">Action comment</label>

                <div class="col-lg-9">
                    <div class="input-group">
                        <textarea name="Comment" id="Comment" class="form-control" required data-fv-notempty-message='The comment is required'></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group @GetNextStatusClass(nextStatusShowing)" >
                <label for="NextStatus" class="col-form-label col-lg-3">Next action</label>

                <div class="col-lg-9">
                    <div class="input-group">
                        <label class="radio-inline"><input type="radio" name="NextStatus" value="@((int)Enums.StatusValue.Submitted)" checked="">Keep it submitted</label>
                        <label class="radio-inline"><input type="radio" name="NextStatus" value="@((int)Enums.StatusValue.Draft)">Bring back to draft</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">@Model.ActionName</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>

<div id="dismiss" class="modal-footer">
    
    <a class="btn btn-secondary"  href="@Url.Action("ManageSummary",controllerName,new {id= @workflowEngine.WorkflowObject.WorkflowObjectId})">Close</a>
</div>

@functions
{

    string GetNextStatusClass(bool showing)
        {
        return showing?"":"hide";
        }
    
}
